#projects {
    position: absolute;
    width: 100%;
    height: 100%;
}

#projects-title {
    position: absolute;
    width: 50%;
    height: 75px;
    border-right: 3px black solid;
    right: 75px;
    bottom: -70px;
    pointer-events: none;
}

#project-name {
    font-size: min(75px, 4vw);
    text-align: right;
    padding-right: 25px;
    line-height: 60px; 
    font-weight: 400;
    letter-spacing: 10px;
}

#project-list {
    position: relative;
    width: 50%;
    height: calc(100% - 150px);
    margin-left: 75px;
    margin-top: 75px;

    display: flex;
    flex-direction: column;
}

.project-item {
    border: none;
    background: none;
    text-align: left;
    font-family: 'Fragment Mono';
    padding: 0;
    margin: 0;
    height: 100%;
    width: calc(100% - 53px);
    margin-top: 1%;
    margin-bottom: 1%;
    border-left: 3px black solid;
    padding-left: 50px;
    cursor: pointer;
}

.project-item > h1 {
    font-size: min(38px, 3vw);
    font-weight: 600;
    letter-spacing: 4px;
    padding: 0;
    margin: 0;
}

.project-item > p {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#previews-container {
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0;
    top: 0;
}

.project-preview {
    position: absolute;
    right: 75px;
    top: 75px;
    filter: blur(1px); 
    border-radius: 5px;
    width: 20vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    transition: opacity 0.4s ease;
    pointer-events: none;
    opacity: 0;
    border: 1px black solid;
}

.project-preview.active {
    opacity: 1;
}


.project-container {
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 75px;
    margin-top: 75px;
    width: calc(100% - 150px);
    height: calc(100% - 125px);
}

.project-images-container {
    justify-content: right;
    height: 100%;
}

.project-images {
    height: 100%;
}


.project-image {
    object-fit: cover;
    height: calc(50% - 5px);
    aspect-ratio: 1;
    border: 1px black solid;
}

.project-content {
    padding-left: 50px;
}

.project-content > h1 {
    font-size: 72px;
    display: inline-block;
    padding-bottom: 25px;
    position: relative;
}

.project-content > h1:after{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid black;
}


.project-content > h2 {
    font-size: 32px;
    font-weight: 300;
    padding-top: 25px;
}

.project-content > p {
    font-size: 24px;
    font-weight: 300;
    padding-top: 50px;
}

.project-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px
}