body {
    padding: 0;
    margin: 0;
    overflow: hidden; 
    font-family: 'Fragment Mono';
}

h1 {
    margin: 0;
    font-size: 164px;
}

h2 {
    margin: 0;
    font-size: 26px;
}

b {
    font-family: 'Fragment Mono';
}

#page-container {
    position: relative;
    width: 100%;
    height: calc(100% - 75px);
}

.page {
    position: absolute;  /* stack them */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.page.active {
  opacity: 1;
  pointer-events: auto;
}

#background-image {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#border {
    opacity: 70%;
    position: absolute;
    left: min(10vw, 50px);
    right: min(10vw, 50px);
    top: min(10vw, 50px);
    bottom: min(10vw, 50px);
    border: 3px black solid;
}